html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  width: 100%;
  --bg-color:rga(150,150,150,1);

  --border-left-color: rgba(255, 255, 255, 0.20);
  --border-top-color: rgba(255, 255, 255, 0.33);
  --border-right-color: rgba(0, 0, 0, 0.15);
  --border-bottom-color: rgba(0, 0, 0, 0.5);

  --color-o: #160f01;
  --color-s: #d7fffe;
  --color-x: #d69214;
  --color-S: green;
  --color-E: red;

  --button-color-t: rgba(200, 200, 200, 1);
  --button-color-r: rgba(150, 150, 150, 1);
  --button-color-b: rgba(120, 120, 120, 1);
  --button-color-l: rgba(222, 222, 222, 1);

  --cols:6;
  --rows:18;
  --tile-size: calc(360px / calc(calc(var(--cols) + 2)));
  --border-width: 3px;
}

.type-s {
  background: repeating-linear-gradient(
    -45deg,
    #d7fffe,
    #d7fffe 5%,
    #d8e2e2 5%,
    #9ecac9 10%
  );
  border-width: 0px;
}

.type-o {
  background-color: var(--color-o);
  border-width: calc(var(--tile-size) / 4);
  border-radius: calc(var(--tile-size) / 4);
}

.type-x {
  background: repeating-linear-gradient(
    45deg,
    #d7fffe,
    #d7fffe 5%,
    #ebf8e1 5%,
    #f69d3c 10%
    );
    border-width: 0px;
}

.type-S {
  background-color: var(--color-S);
  border-width: var(--border-width);
}

.type-E {
  background-color: var(--color-E);
  border-width: var(--border-width);
}

.App {
  --grid-height: calc(var(--tile-size) * calc(calc(var(--rows) + 2)));
  /* border: 2px solid red; */
  width: 360px;
  /* height: 640px; */
  margin: auto;
  display: grid;
  grid-template-rows: 50px var(--grid-height) 50px;
  grid-template-areas: "header"
                       "maze"
                       "controls";
}

.App-header {
  grid-area: header;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white;
}

.grid-square {
  border-style: solid;
  width: var(--tile-size);
  height: var(--tile-size);
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
  font-size: 40px;
  align-self: center;
  justify-self: center;
}


.grid-board {
  background: repeating-linear-gradient(
    -45deg,
    #d7fffe,
    #d7fffe 5%,
    #d8e2e2 5%,
    #9ecac9 10%
  );
  width:max-content;
  height:max-content;
  border: var(--tile-size) double black;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-area: maze;
  align-items: center;
  justify-items: center;
}

.controls {
  grid-area: controls;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.control-buttons {
  width: 72px;
  border-width: 5px;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}