:root {
  --bg-color:rga(150,150,150,1);

  --border-left-color: rgba(255, 255, 255, 0.20);
  --border-top-color: rgba(255, 255, 255, 0.33);
  --border-right-color: rgba(0, 0, 0, 0.15);
  --border-bottom-color: rgba(0, 0, 0, 0.5);

  --color-o: #000000;
  --color-s: #d7fffe;
  --color-S: green;
  --color-E: red;

  --button-color-t: rgba(200, 200, 200, 1);
  --button-color-r: rgba(150, 150, 150, 1);
  --button-color-b: rgba(120, 120, 120, 1);
  --button-color-l: rgba(222, 222, 222, 1);

  --cols:10;
  --rows:18;
  --tile-size: 30px;
  /* calc(300px / var(Math.max(--cols,--rows))); */
  --border-width: 3px;
}

.type-s {
  background-color: var(--color-s);
  border-width: 0px
}

.type-o {
  background-color: var(--color-o);
  border-width: var(--border-width);
}
.type-S {
  background-color: var(--color-S);
  border-width: var(--border-width);
}

.type-E {
  background-color: var(--color-E);
  border-width: var(--border-width);
}

.grid-square {
  border-style: solid;
  width: var(--tile-size);
  height: var(--tile-size);
  /* border-width: var(--border-width); */
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
}

* {
  box-sizing: border-box;
}

.grid-board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  align-self: flex-start;
}

.score-board-button {
  display: block;
  padding: 1em;
  border-width: 5px;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}