html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  width: 100%;
  --bg-color:rga(150,150,150,1);

  --border-left-color: rgba(255, 255, 255, 0.20);
  --border-top-color: rgba(255, 255, 255, 0.33);
  --border-right-color: rgba(0, 0, 0, 0.15);
  --border-bottom-color: rgba(0, 0, 0, 0.5);

  --color-o: #160f01;
  /* --color-s: #d7fffe;
  --color-x: brown;
  --color-S: green;
  --color-E: red; */

  --button-color-t: rgba(200, 200, 200, 1);
  --button-color-r: rgba(150, 150, 150, 1);
  --button-color-b: rgba(120, 120, 120, 1);
  --button-color-l: rgba(222, 222, 222, 1);

  --cols:6;
  --rows:18;
  --tile-size: calc(360px / calc(calc(var(--cols) + 2)));
  --border-width: 3px;
}

.type-s {
  border-width: 0px;
}

.type-o {
  background-color: var(--color-o);
  border-width: calc(var(--tile-size) / 4);
  border-radius: calc(var(--tile-size) / 4);
}

.type-x {
  background-color: rgba(248, 95, 6, 0.6);
  border-width: 0px;
}

.type-S {
  background-color: var(--color-S);
  border-width: var(--border-width);
}

.type-E {
  background: repeating-conic-gradient(white 0% 25%, transparent 0% 50%) 50% / calc(var(--tile-size)/2) calc(var(--tile-size)/2);
  background-color: black;
  border-width: 0px
}

.App {
  --grid-height: calc(var(--tile-size) * calc(calc(var(--rows) + 2)));
  /* border: 2px solid red; */
  width: 360px;
  /* height: 640px; */
  margin: auto;
  display: grid;
  grid-template-rows: 50px var(--grid-height) 50px;
  grid-template-areas: "header"
                       "maze"
                       "controls";
}

.App-header {
  grid-area: header;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white;
}

.grid-square {
  border-style: solid;
  width: var(--tile-size);
  height: var(--tile-size);
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
  font-size: calc(var(--tile-size)*0.9);
  /* calc(--var(--tile-size))px; */
  align-self: center;
  justify-self: center;
  overflow:hidden;
}

img {
  width:calc(var(--tile-size)*3);
  height:calc(var(--tile-size)*4);
  object-position: 0px 0px;
}

.image-u{
  object-position: 0px calc(var(--tile-size) * -3);
} 
.image-r{
  object-position: 0px calc(var(--tile-size) * -2);
} 
.image-l{
  object-position: 0px calc(var(--tile-size) * -1);
} 

.grid-board {
  background: repeating-linear-gradient(
    -45deg,
    #d7fffe,
    #d7fffe 2.5%,
    #d8e2e2 2.5%,
    #9ecac9 5%
  );
  width:max-content;
  height:max-content;
  border: var(--tile-size) double black;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-area: maze;
  align-items: center;
  justify-items: center;
}

.controls {
  grid-area: controls;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.control-buttons {
  width: 72px;
  border-width: 5px;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}

.message-popup {
  grid-area: maze;
  /* position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: calc(var(--tile-size) * 10);
  height: calc(var(--tile-size) * 8); */
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.message-popup.hidden {
  display: none;
}